@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<div style="text-align: center;">
    <img src="~/images/soru-cevap.jpg" alt="Image Description" width="1200" height="550">
</div>

<br />
<br />

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p style="font-size: 25px;">Python ile ilgili tüm bilgiler, tüm sorular ve cevaplar bu sayfada...</p>
</div>

<br />
<br />
<br />
<br />
<br />
<hr />

<div class="container mt-5">
    <h1 class="mb-4">Sık Sorulan Sorular</h1>
    <div>
        <h3>Soru Listesi</h3>

        <ul class="list-group">

            <li class="list-group-item">
                <h5 class="mb-1">Temel Hesaplamalar:</h5>
                <p class="mb-1">Python kullanarak bir hesap makinesi yapmak için hangi temel aritmetik operatörleri kullanmalıyım ve bunları nasıl uygulamalıyım?</p>
                <small>Sorulma Tarihi: 08 Şubat 2023</small>
            </li>

        </ul>

        <ul class="list-group">

            <li class="list-group-item">
                <h5 class="mb-1">Kullanıcı Girişi ve İşlem Seçimi:</h5>
                <p class="mb-1">Python'da kullanıcıdan iki sayı ve bir matematiksel işlem (örneğin, +, -, *, /) alarak hesap makinesi işlemlerini gerçekleştirmek için bir program nasıl yazılır?</p>
                <small>Sorulma Tarihi: 25 Nisan 2023</small>
            </li>

        </ul>

        <ul class="list-group">

            <li class="list-group-item">
                <h5 class="mb-1">Hata Kontrolü:</h5>
                <p class="mb-1">Kullanıcıdan alınan girişlerin doğruluğunu kontrol etmek ve hatalı giriş durumlarında uygun bir hata mesajı göstermek için Python'da nasıl bir kod yazılır?</p>
                <small>Sorulma Tarihi: 06 Temmuz 2023</small>
            </li>

        </ul>

        <ul class="list-group">

            <li class="list-group-item">
                <h5 class="mb-1">Fonksiyonlar Kullanarak Hesaplama:</h5>
                <p class="mb-1">Python'da fonksiyonlar kullanarak bir hesap makinesi yapmanın avantajları nelerdir ve temel aritmetik işlemleri fonksiyonlarla nasıl gerçekleştirebilirim?</p>
                <small>Sorulma Tarihi: 13 Aralık 2023</small>
            </li>

        </ul>

        <ul class="list-group">

            <li class="list-group-item">
                <h5 class="mb-1">Gelişmiş Hesaplamalar ve Kütüphane Kullanımı:</h5>
                <p class="mb-1">Python'da matematik kütüphanesini kullanarak üssel, logaritmik veya trigonometrik hesaplamaları içeren bir hesap makinesi nasıl oluşturulur?</p>
                <small>Sorulma Tarihi: 22 Aralık 2023</small>
            </li>

        </ul>

    </div>
</div>

<br />
<br />