@{
    ViewData["Title"] = "Gizlilik";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>@ViewData["Title"]</h1>

<div style="background-color: white; padding: 20px; border: 1px solid #ddd; border-radius: 10px;">
    <h2>Toplanan Bilgiler</h2>
    <p>Sitemizi kullanırken, belirli kişisel bilgileri toplamaktayız. Bu bilgiler, ziyaret ettiğiniz sayfalar, tarayıcı türü, IP adresiniz ve diğer benzer bilgileri içerebilir.</p>

    <h2>Çerezler</h2>
    <p>Web sitemizde çerezler kullanıyoruz. Çerezler, sitemizi daha etkili bir şekilde kullanmanıza yardımcı olan küçük metin dosyalarıdır. Çerezleri reddetme veya silme seçeneğiniz her zaman mevcuttur.</p>

    <h2>Kişisel Bilgi Kullanımı</h2>
    <p>Toplanan kişisel bilgiler, sitemizi geliştirmek ve kullanıcı deneyimini özelleştirmek amacıyla kullanılmaktadır. Bu bilgileri üçüncü taraflarla paylaşmıyoruz.</p>

    <h2>Güvenlik</h2>
    <p>Kişisel bilgilerinizi korumak için endüstri standardı güvenlik önlemlerini kullanıyoruz. Ancak, internet üzerinden iletişimde her zaman riskler bulunmaktadır.</p>

    <h2>Diğer Web Siteleri ve Hizmetler</h2>
    <p>Web sitemiz, diğer web sitelerine veya hizmetlere bağlantılar içerebilir. Bu bağlantıları kullanırken, bu sitelerin gizlilik uygulamalarını incelemenizi öneririz.</p>

    <h2>Gizlilik Politikası Değişiklikleri</h2>
    <p>Bu gizlilik politikası zaman zaman güncellenebilir. Güncellemeleri önceden bildirmeksizin yapabiliriz, bu nedenle düzenli olarak kontrol etmenizi öneririz.</p>
</div>
<br />
<br />